@{
    ViewData["Title"] = "Страница не найдена";
}

<div class="container">
    <h1>Страница по пути @ViewData["NotFoundPath"] не найдена.</h1>
    <img src="~/Files/404.jpeg" style="width:800px; height:600px" />
</div>
